<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/mdd2/Turtles"
			class = "uk.ac.kcl.inf.mdd2.turtles.TurtlesPackage"
			genModel = "model/generated/Turtles.genmodel" />
	</extension>
</plugin>
